/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Light background color for the other half */
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

/* Diagonal Background */
.half-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/landingpage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: ellipse(100% 65% at 100% 10%);
    z-index: -1; 
}

/* Card styles */
.card {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-title {
    font-weight: 600;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.btn-primary, .btn-secondary {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
}

.text-muted {
    font-size: 14px;
    font-weight: 300;
}


/* Upload container*/
.upload-container {
    text-align: center;
}

.custom-upload-box {
    border: 2px dashed #ddd;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease;
}

.custom-upload-box i {
    color: #007bff; 
}

.custom-upload-box p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.custom-upload-box:hover {
    border-color: #007bff; 
}

.custom-upload-box.dragging {
    border-color: #28a745;
}

#file-upload {
    display: none;
}

.uploadIcon {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

#prediction-output {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.5;
}